html {
  font-size: 24px;
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  border-radius: 0;
  outline: none;
}

button:hover {
  cursor: pointer;
}
