/* * {
  margin: 0;
} */

html {
  font-size: 24px;
  background-color: var(--color-background);
  color: var(--color-text);
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  border-radius: 0;
  outline: none;
}

button:hover {
  cursor: pointer;
}
